/GiftAidCalculator/GiftAidCalculatorCore/bin/*
/GiftAidCalculator/GiftAidCalculatorCore/obj/*
/GiftAidCalculator/GiftAidCalculatorTests/bin/*
/GiftAidCalculator/GiftAidCalculatorTests/obj/*
/GiftAidCalculator/.vs/*
/GiftAidCalculator/GiftAidCalculatorInfrastructure/bin/*
/GiftAidCalculator/GiftAidCalculatorInfrastructure/obj/*
